<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comp9900.proj_15.mapper.EventMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.comp9900.proj_15.entity.Event">
        <id column="ID" property="id" />
        <result column="Title" property="title" />
        <result column="Date" property="date" />
        <result column="Description" property="description" />
        <result column="IMG" property="img" />
        <result column="External_Link" property="externalLink" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, Title, Date, Description, IMG, External_Link
    </sql>

</mapper>
