<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.comp9900.proj_15.mapper.MessageMapper">

    <!-- General query mapping results -->
    <resultMap id="BaseResultMap" type="com.comp9900.proj_15.entity.Message">
        <id column="MSG_ID" property="msgId" />
        <result column="sender_ID" property="senderId" />
        <result column="receiver_ID" property="receiverId" />
        <result column="content" property="content" />
        <result column="created_at" property="createdAt" />
        <result column="read" property="read" />
    </resultMap>

    <select id="findLatestMessagesWithContacts" resultType="java.util.Map">
        WITH LastMessages AS (
            SELECT
                CASE
                    WHEN sender_ID = #{userId} THEN receiver_ID
                    ELSE sender_ID
                    END AS contact_id,
                m.*,
                ROW_NUMBER() OVER (
                    PARTITION BY
                        CASE
                            WHEN sender_ID = #{userId} THEN receiver_ID
                            ELSE sender_ID
                            END
                    ORDER BY created_at DESC
                    ) AS rn
            FROM Message m
            WHERE sender_ID = #{userId} OR receiver_ID = #{userId}
        )
        SELECT
            contact_id AS "contactId",
            MSG_ID AS "msgId",
            sender_ID AS "senderId",
            receiver_ID AS "receiverId",
            content AS "content",
            created_at AS "createdAt",
            `read` AS "read"
        FROM LastMessages
        WHERE rn = 1
        ORDER BY created_at DESC
    </select>

    <!-- General query result column -->
    <sql id="Base_Column_List">
        MSG_ID, sender_ID, receiver_ID, content, created_at, read
    </sql>

</mapper>
